/* line 1, ../compass/sass/style.scss */
body {
  font-family: Verdana, sans-serif;
  padding-bottom: 15px;
}

/* line 5, ../compass/sass/style.scss */
#views {
  margin-top: 100px;
}

/* line 8, ../compass/sass/style.scss */
.nav {
  background-color: #DFC8B9;
  height: 78px;
}

/* line 12, ../compass/sass/style.scss */
.navbar-brand {
  margin-bottom: 8px;
}

/* line 15, ../compass/sass/style.scss */
.navbar-brand img {
  max-height: 60px;
}

/* line 19, ../compass/sass/style.scss */
#options-navbar {
  margin-top: 78px;
}

/* line 23, ../compass/sass/style.scss */
#options-navbar a {
  color: #9C5B44;
}

/* line 26, ../compass/sass/style.scss */
#options-navbar img {
  height: 100px;
  float: left;
}

/* line 30, ../compass/sass/style.scss */
#coffee-cup {
  position: absolute;
  top: 5px;
  left: 25px;
  width: 30px;
  clip: rect(0px, 30px, 25px, 0px);
}

/* line 37, ../compass/sass/style.scss */
#knobs {
  position: absolute;
  top: -20px;
  left: 15px;
  width: 30px;
  clip: rect(26px, 30px, 51px, 0px);
}

/* line 45, ../compass/sass/style.scss */
#truck {
  position: absolute;
  top: -45px;
  left: 5px;
  width: 30px;
  clip: rect(51px, 30px, 75px, 0px);
}

/* line 52, ../compass/sass/style.scss */
#wallet {
  position: absolute;
  top: -72px;
  left: 10px;
  width: 30px;
  clip: rect(75px, 30px, 103px, 0px);
}

/* line 59, ../compass/sass/style.scss */
#types1 img, #types2 img {
  max-height: 150px;
  border-radius: 100px;
}

/* line 64, ../compass/sass/style.scss */
#types3 img {
  height: 150px;
  width: 160px;
  border: 3px solid #6A493B;
  border-radius: 100px;
}

/* line 72, ../compass/sass/style.scss */
#types1, #types2, #types3 {
  text-align: center;
}

/* line 78, ../compass/sass/style.scss */
.getStarted {
  text-align: center;
}

/* line 81, ../compass/sass/style.scss */
.getStarted button {
  margin: 50px 0px;
  background-color: #754638;
  border-color: #754638;
}

/* line 86, ../compass/sass/style.scss */
.title {
  padding-top: 5px;
  font-family: Fantasy, Verdana;
  font-size: 15px;
}

/* line 91, ../compass/sass/style.scss */
p {
  font-family: Verdana, sans-serif;
}

/* line 94, ../compass/sass/style.scss */
footer {
  padding-top: 10px;
  bottom: 0;
  font-size: 10px;
  color: brown;
}

/* line 100, ../compass/sass/style.scss */
.introMain {
  background-image: url("../images/coffeeandtea1.jpg");
  height: 300px;
  width: 100%;
  overflow: hidden;
}

/* line 110, ../compass/sass/style.scss */
.info {
  text-align: center;
  margin-bottom: 10px;
}

/* line 115, ../compass/sass/style.scss */
.info img {
  height: 100px;
}

/* line 118, ../compass/sass/style.scss */
#stepsContainer {
  background-color: lightgray;
}

/* line 121, ../compass/sass/style.scss */
#step1 {
  background-image: url("../images/coffee/bags.jpg");
  height: 200px;
  color: white;
  vertical-align: center;
  font-size: 15px;
}

/* line 128, ../compass/sass/style.scss */
#step1 li, #step2 li, #step3 li {
  list-style-type: none;
}

/* line 132, ../compass/sass/style.scss */
#step2 {
  padding: 30px;
  height: 200px;
  vertical-align: center;
  font-size: 15px;
  background-color: #F2F2F2;
}

/* line 139, ../compass/sass/style.scss */
#step2 img {
  height: 115px;
  float: left;
  transform: rotate(-20deg);
  margin: 15px 50px 15px 5px;
  border: 3px solid white;
}

/* line 146, ../compass/sass/style.scss */
#step3 {
  background-color: #200D06;
  color: white;
  height: 200px;
}

/* line 152, ../compass/sass/style.scss */
#step3 img {
  height: 150px;
  float: right;
  margin: 25px 60px;
  border-radius: 10px;
}

/* line 159, ../compass/sass/style.scss */
.already, .paymentHeader {
  text-align: center;
}

/* line 162, ../compass/sass/style.scss */
.form-control input {
  margin: 0 300px;
}

/* line 165, ../compass/sass/style.scss */
#options {
  padding-top: 30px;
}

/* line 168, ../compass/sass/style.scss */
#deliveryOptions {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  background-color: beige;
}

/* line 175, ../compass/sass/style.scss */
#deliveryOptions img {
  max-height: 250px;
}

/* line 178, ../compass/sass/style.scss */
.famPlan, .indivPlan {
  background-color: white;
  box-shadow: 0 0 10px 0;
  margin: 30px 10px;
}

/* line 183, ../compass/sass/style.scss */
.famPlan button, .indivPlan button {
  width: 50%;
  background-color: #754638;
  border-color: #754638;
  margin: 5px;
}

/* line 190, ../compass/sass/style.scss */
.registration button, .login button {
  width: 50%;
  background-color: #3E5D56;
  border: 3px solid;
  border-color: #DFC8B9;
  margin-bottom: 30px;
}

/* line 197, ../compass/sass/style.scss */
.registration button:hover, .login button:hover {
  background-color: #56746D;
}

/* line 201, ../compass/sass/style.scss */
.registration, .login {
  padding-top: 50px;
  text-align: center;
  background-color: #3E5D56;
  box-shadow: 0 0 10px 0;
  color: white;
}
