
<div class="container introMain"></div>
	<div class="col-md-12 info">
		<h1>A better way to brew</h1>
		<p> Delivered to your door at grocery store prices!</p>
		<a ng-href="#/register"><img src="../node-e_commerce/images/bev-button.jpeg"></a>
		<!-- <h2>How it Works</h2> -->
	</div>
	<div id="stepsContainer">
		<div class="col-md-12" id="step1">
				<ul>
					<li><h3>1. We get only the finest beans or leaves</h3></li>
						<li>Each bean or leaf is hand selected</li>
						<li>Each bean or leaf is thoroughly inspected for quality</li>
						<li>Each is tenderly caressed and sung to during the selection process</li>
				</ul>
		</div>	
		<div class="col-md-12" id="step2">
			<img src="../images/grower.jpg">
				<ul>
					<li><h3>2. We pick up the coffee </h3></li>
						<li>We place the coffee beans or tea leaves in bags</li>
						<li>Each bag is transported in climate-controlled trucks</li>
						<li>Every six hours the bags are rotated to ensure uniformity</li>
				</ul>
			
		</div>
		<div class="col-md-12" id="step3">	
		<img src="../images/tea_coffee.jpg">
				<ul>
					<li><h3>3. You enjoy your beverage </h3></li>
						<li>Your beverage tastes delicious</li>
						<li>You tell your friends how awesome your beverage is</li>
						<li>You buy more</li>
				</ul>
				
		</div>

	</div>
	<div class="getStarted">
		<a ng-href="#/register">
			<button type="button" class="btn btn-success">GET STARTED</button>
		</a>
	</div>


