<div class="container" id="options">
	<div class="row">
		<div class="col-sm-2">
			<button type="button" class="btn btn-outline-info"><a href="#/options#deliveryOptions">Go To Delivery Options</a></button>
		</div>
	</div>
	<div class="row" id="types1">
		<h1>Teas</h1>
		<div class="col-md-3">
			<img src="images/tea/darjeeling-black.jpg">
			<p class="title">Black Tea</p>
			<p>Robust, bold and assertive flavor</p>
		</div>
		<div class="col-md-3">
			<img src="images/tea/gyokuro-green.jpg">
			<p class="title">Green Tea</p>
			<p>Fresh, spring favlor rich with antioxidants</p>
		</div>
		<div class="col-md-3">
			<img src="images/tea/darjeeling-white.jpg">
			<p class="title">White Tea</p>
			<p>Air-dried tea leaves with a delicate flavor</p>
		</div>
		<div class="col-md-3">
			<img src="images/tea/mountain-oolong.jpg">
			<p class="title">Oolang Tea</p>
			<p>Oo-la-la, artisan crafted with a distinctive profile</p>
		</div>
	</div>
		<div class="row" id="types2">
		
		<div class="col-md-3">
			<img src="images/tea/mijito-Marmalad-herbal.jpg">
			<p class="title">Mijito Marmalad Tea</p>
			<p>Always caffeine free with herbs, flowers & spices</p>
		</div>
		<div class="col-md-3">
			<img src="images/tea/harvest-Apple-Spice-herbal.jpg">
			<p class="title">Rooibos Tea</p>
			<p>Naturally caffeine-free "red tea"</p>
		</div>
		<div class="col-md-3">
			<img src="images/tea/peach-jubilee-herbal.jpg">
			<p class="title">Peach Tea</p>
			<p>More caffeine-free options</p>
		</div>
		<div class="col-md-3">
			<img src="images/tea/blood-Orange-black.jpg">
			<p class="title">Iced Tea</p>
			<p>Specially blended for icing</p>
		</div>
	</div>
		<div class="row" id="types3">
		<h1>Coffees</h1>
		<div class="col-md-3">
			<img src="images/coffee/dark-beans.jpg">
			<p class="title">Espresso Dark Beans</p>
			<p>If you wanted them any darker, you would have to set them on fire</p>
		</div>
		<div class="col-md-3">
			<img src="images/coffee/columbian-beans.jpg">
			<p class="title">100% Columbian Beans</p>
			<p>Best Seller - sweet and rich</p>
		</div>
		<div class="col-md-3">
			<img src="images/coffee/french-beans.jpg">
			<p class="title">French Roast Beans</p>
			<p>Smoother than espresso, rich and robust</p>
		</div>
		<div class="col-md-3">
			<img src="images/coffee/breakfast-beans.jpg">
			<p class="title">Breakfast Blend</p>
			<p>Medium Roast - The perfect thing to get you going in the A.M.!</p>
		</div>
		</div>
		<div class="row" id="deliveryOptions">
			<div class="col-sm-5 col-sm-offset-1">
				<div class="col-sm-12 indivPlan">
					<h2>Individual Plan</h2>
					<p>For those who drink alone</p>
					<img src="../images/drinker.jpg" class="img-responsive">
					<h4>Cups per week:</h4>
					<h4>Price per cup:</h4>
					<h4>Weekly total:</h4>
					<div class="button-holder">
						<button type="submit" class="btn btn-success">SUBMIT</button>
					</div>
					<p>Shipping is always free.</p>
					<p>Skip any week. Cancel any time.</p>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="col-sm-12 famPlan">
					<h2>Family Plan</h2>
					<p>For those who drink together</p>
					<img src="../images/drinkers.jpg" class="img-responsive">
					<h4>Cups per week:</h4>
					<h4>Price per cup:</h4>
					<h4>Weekly total:</h4>
					<div class="button-holder">
						<button type="submit" class="btn btn-success">SUBMIT</button>
					</div>
					<p>Shipping is always free.</p>
					<p>Skip any week. Cancel any time.</p>
				</div>
			</div>
		</div>

	