<div class="container">

	<div class="row" id="types">
		<h1>Teas</h1>
		<div class="col-md-3">
			<img src="images/tea/darjeeling-black.jpg">
			<p class="title">Black Tea</p>
			<p>Robust, bold and assertive flavor</p>
		</div>
		<div class="col-md-3">
			<img src="images/tea/gyokuro-green.jpg">
			<p class="title">Green Tea</p>
			<p>Fresh, spring favlor rich with antioxidants</p>
		</div>
		<div class="col-md-3">
			<img src="images/tea/darjeeling-white.jpg">
			<p class="title">White Tea</p>
			<p>Air-dried tea leaves with a delicate flavor</p>
		</div>
		<div class="col-md-3">
			<img src="images/tea/mountain-oolong.jpg">
			<p class="title">Oolang Tea</p>
			<p>Oo-la-la, artisan crafted with a distinctive profile</p>
		</div>
	</div>
</div>